<% include ../layouts/header %>

  <div class="container">
      <!-- image slider to be implemented -->
      <!-- <div class="bd-example">
        <% images.forEach(function(post){ %>

          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>First slide label</h5>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Second slide label</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        <% }) %>
      </div> -->
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the Image Gallery!</h1>
      <p class="lead">This is a simple Image Gallery created Using Node, HTML and CSS</p>
      <hr class="my-4">
      <p>The gallery displays photoes of professional photograpohers and some by me. </p>
      <!-- <p class="subtitle">Hope you like it.</p> -->
      
      <a href="/newpost"><button class="btn btn-primary btn-md pull-right">Add to Gallery</button></a>
      
    </div>
      <h6><%= typeof msg != 'undefined' ? msg : ''  %></h6>
    <!-- <div class="model" id="f2">
      <%= typeof msg != 'undefined' ? msg : '' %>
      <form class="form-inline" action="/newimage" method="POST" enctype="multipart/form-data">
        <input class="form-control-plaintext" type="hidden" placeholder="name" name="name">
        <input class="form-control-plaintext" type="text" name="message" placeholder="message">
        <input  class="form-control-plaintext" type="file" name="image">
        <button class="btn btn-success">Post</button>
      </form>

    </div><br> -->

    <div class="row" style="display: flex; flex-wrap: wrap;">
      <% images.forEach(function(images){ %>
      <div class="col-md-4 col-sm-6">
        <div class="card" >
          <a href="/show/<%= images._id%>"><img src="./uploads/<%= images.image %>" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-user-circle"></i> <%= images.name %></h5>
            <p class="card-text"><%= images.message %></p>
          </div>
        </div> <br>   
      </div>
      <% }); %>
    </div>

    
  </div>

  
  


<% include ../layouts/footer %>