<% include ../layouts/header %>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="user"></div><h1><i class="fa fa-user-circle"></i> <%= post.name%></h1>
        </div>

        <div class="col-sm-7">
            <div class="card">
                <img src="../uploads/<%= post.image %>" alt="" >
                <div class="card-body">
                    <h6><strong>Message: </strong><%= post.message %></h6>
                    <% if(currentUser && post.author.id.equals(currentUser._id)){ %>

                        <form action="/show/<%= post._id %>/?_method=DELETE" method="POST" class="inline-block">
                            <button class="btn btn-danger pull-right">Delete</button>
                        </form>

                        <a href="/show/<%= post._id %>/edit"><button class="btn btn-primary pull-right">Edit</button></a>
                    <% } %>
                </div>
            </div><br>

            <div class="jumbotron">
                <a href="/show/<%= post._id %>/comments/new"><button class="btn btn-primary pull-right">Add comment</button></a><br>
                <hr>
                
                <% post.comments.forEach(function(comment){ %>
                    <p>
                        <p class="pull-right">Just Now</p>
                        <i class="fa fa-comment"></i> <strong><%= comment.author.username %></strong> - <%= comment.text %><br>
                        <a href="/show/<%= post._id %>/comments/<%= comment._id%>/edit"><button class="btn btn-primary">Edit</button></a>
                        <form id="block" action="/show/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" >
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </p>
                <% }) %>
            </div>
        </div>
    </div>
</div>


<% include ../layouts/footer %>