<% include layouts/header %>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="user"></div><h1><i class="fa fa-user-circle"></i> <%= post.name%></h1>
        </div>

        <div class="col-sm-9">
            <div class="card">
                <img src="../uploads/<%= post.image %>" alt="">
                <div class="card-body">
                    <h4 class="pull-right">title</h4>
                    <h6><strong>Message: </strong><%= post.message %></h6>
                </div>
            </div><br>

            <div class="jumbotron">
                <form action="/show/<%= post._id %>/comments" method="POST" >
                    <button class="btn btn-success pull-right"> Add Comment</button>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input class="form-control-plaintext" type="text" placeholder="username" name="comment[author]" required>
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control-plaintext" type="text" name="comment[text]" placeholder="comment">
                        </div>
                    </div>
                </form>
                <hr>
                
                <% post.comments.forEach(function(comment){ %>
                    <p>
                        <p class="pull-right">Just Now</p>
                        <i class="fa fa-comment"></i> <strong><%= comment.author %></strong> - <%= comment.text %>
                    </p>
                <% }) %>
            </div>
        </div>
    </div>
</div>


<% include layouts/footer %>